/* Sidebar styles */

:root {
  --primary-color: #0f3ed5;
  --secondary-color: #f0f0f0;
  --text-color: #444;
  --background-color: #f5f5f5;
}

#sidebar {
  width: 225px;
  min-height: 100vh;
  transition: all 0.3s;
  z-index: 100;
  background-color: #fff;
}

#sidebar .logo {
  height: 50px;
  width: auto;
}

/* Navigation Links */
#sidebar ul li {
  margin-bottom: 6px;
}

#sidebar ul li a {
  color: #444;
  text-decoration: none;
  border-radius: 8px;
  transition: all 0.2s;
  font-weight: 500;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  font-size: 13px;
}

#sidebar h6 {
  font-size: 13px;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}

/* Hover effect */
#sidebar ul li a:hover {
  background-color: #f0f0f0;
  color: #000;
}

/* Active menu */
#sidebar ul li a.active {
  background-color: #e7f1ff;
  color: var(--primary-color);
  font-weight: 600;
  box-shadow: inset 2px 0 0 var(--primary-color);
}

#sidebar.collapsed {
  width: 0;
  overflow: hidden;
}

.top-bar {
  background-color: #fff;
}

/* Main content */
#content {
  transition: margin-left 0.3s;
  background-color: var(--background-color);
}

#sidebar.collapsed + #content {
  margin-left: 0;
}

/* Card Styling */
.card {
  border: none;
  border-radius: 16px;
  transition: transform 0.2s;
}

.card:hover {
  transform: translateY(-3px);
}

/* Toggle Button Styling */
#sidebarToggle {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 0;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: none;
}

.collapsed-toggle {
  rotate: 180deg;
  transition: transform 0.3s;
}

.profile-section {
  background-color: var(--secondary-color);
  border-radius: 8px;
}

.profile-section img {
  object-fit: cover;
}
